/* BODY STYLE */
.bodystyle{
    background-image: url(asset/images/blog-images/blog-background1.jpeg);
    background-size: cover;
}
/* HEADER STYLE */
header{
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    text-align-last: center;
}
.blogtitle p{
    color: #cfcfcfb9;
    font-size: 20px;
    display: inline-block;
    width: auto;
    text-align: center;
    position: relative;
    animation: fadin1 6s forwards;}@keyframes fadin1{0%{opacity:0}50%{opacity:1}100%{opacity:0}
}
.blogtitle h1{
    color: #cfcfcfb9;
    font-size: 62px;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    text-align-last: justify;
    position: absolute;
    animation: fadin2 7s forwards;}
    @keyframes fadin2{0%{opacity:0;}
                    20%{opacity:0;}
                    40%{opacity:0;}
                    60%{opacity:0;}
                    80%{opacity:0;}
                    100%{opacity:1;}
}

/* BLOG BODY ENTRIES */
.blog-heading{
    margin:16px!important;
    background-color: #fffefec0;
    border-radius: 25px;
}
.blog-heading img{
    border: solid 8px;
    border-color: #fffefe00;
    border-radius: 25px;
}
.blog-intro-bl1{
    padding: 0.1px 16px;
}
.blog-intro-bl2{
    padding: 0.1px 16px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.row{
    content:"";
    display:table;
    clear:both
}
.button{
    width:30%;
    text-align:left;
    border:solid 1px;
    border-radius: 20px;
    padding: 10px;
    display:inline-block;
    color:#0075B2;
    background-color: rgba(230, 230, 230, 0.781);
    text-align:center;
    cursor:pointer;
    outline: none;
}
.button:hover{
    color: whitesmoke!important;
    border-radius: 20px;
    background-color: #0075B2!important}
.button:focus{
    color: #0075B2;
    border-radius: 20px;
}

/* INTRODUCTION CARD */
.intro-card{
    margin: 16px!important;
    margin-top:16px!important;
}
.intro-card img{
    border: 0.1px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.intro-card-info{
    background-color: #fffefed0;
    border: 0.1px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* POST STYLE */
.post-info{
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.822);
}
.post-ul{
    background-color: #fffefe96;
    list-style-type:none;
    padding:0;
    margin:0;
    color:#000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.post-ul li{
    padding: 8px 16px;
}
.post-ul a{
    text-decoration: none;
}
.post-ul li:hover{
    color: whitesmoke;
    background-color: gray;
    cursor: pointer;
}
.post-ul li:hover:nth-of-type(4){
    color: whitesmoke;
    background-color: gray;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

