/*-- HTML PAGE CONTENT --*/
html{
    background-color: rgb(95, 143, 181);
}

a{
    text-decoration: none;
    cursor: pointer;
}

/**--BODY CONTENT--**/

/**--HEADER CONTENT--**/
/* HEADER STYLE */
#other{
    font-family: 'Proza Libre', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px whitesmoke;
    color: lightgray;
    display: block;
}
#other a:hover{
    background-color: rgb(207, 207, 207);
    font-size: 1.5rem;
    color: whitesmoke;
}
#other table{
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 80px;
    border-spacing: 5px;
    text-align: center;
    position: fixed;
    background-color: rgb(207, 207, 207);
    border: rgb(95, 143, 181) 5px outset;
    border-radius: 50px;
    animation: opacnavbar 0.5s;
    animation-fill-mode: forwards;}
    @keyframes opacnavbar{from{opacity:0} to{opacity:1}  
}
/* ANIMATION NAVIGATION */

#other table td{
    color: rgb(63, 94, 119);
    font-size: 21px;
    position: relative;
    animation: opac 5s;
    animation-fill-mode: forwards;}
    @keyframes leftmove1{from{left:-300px;opacity:0} to{left: 7px;opacity:1} 
}
/* HEADER STYLE END */

/* TABLE CONTENT PERSONAL INFO -- START*/
.personal{
    padding-top: 120px;
}
#personalinfo{
    background-color: white;
    border: outset;
    border-radius: 25px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    letter-spacing: 1px;
    border-spacing: 20px;
    animation: fading1 1s;}
    @keyframes fading1{0%{opacity:0}100%{opacity:1}
}
#personalinfo ul{
    list-style-type: none;
    padding-left: 0;
}
#image1{
    padding: 15px;
    width: 100%;
    height: 30%;
    border: inset rgb(95, 143, 181);
    background-color: rgb(95, 143, 181);
    border-width: 4px;
    border-radius: 50%;
    animation: opacity 1s;}@keyframes opacity{from{opacity:0} to{opacity: 1}
}
#aboutmetitle{
    text-align: justify;
    text-align-last: left;
    padding-left: 40px;
    animation: animatezoom 1s;}@keyframes animatezoom{from{transform: scale(0)} to{transform: scale(1)}
}
#aboutmetitle h2{
    letter-spacing: 0.5px;
    font-size: 30px;
    font-family: 'Proza Libre', sans-serif;
}
#aboutme{
    text-align: justify;
    line-height: 30px;
    border: 3px;
    border-color: rgb(80, 169, 236);
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 40px;
    border-bottom-style: groove;
    animation: opacity 1s;}@keyframes opacity{from{opacity:0} to{opacity: 1}
}
#basicinfo{
    animation: opacity 1s;}@keyframes opacity{from{opacity:0} to{opacity: 1}
}
#basicinfo td:first-of-type {
    font-style: oblique;
}
#basicinfo td{
    font-family: 'Libre Franklin', sans-serif;
    line-height: 40px;
}
.button, .contactDiv button{
    background-color: lightgray;
    border-radius: 12px;
    width: 350px;
    height: 40px;
    box-shadow: 2px 4px  darkgrey;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
}
.button:hover, .contactDiv button:hover{
    color: whitesmoke;
    background-color: rgb(106, 142, 178);
}
#resume td{
    color: rgb(106, 142, 178);
    text-align: left;
}
#resume td:hover{
    color: rgb(63, 94, 119);
}

/* TABLE CONTENT PERSONALINFO -- END */

/* STYLE FOR THE BREAK PART */
.breaker{
    display: block;
    width: 100vw;
    padding-top: 60px;
    height: 120px;
    background-color: rgb(95, 143, 181);
}
.breaker h2{
    font-size: 42px;
    font-weight: 800;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px rgb(63, 94, 119);
    letter-spacing: 1px;
    text-align: center;
}
/* EDUCATION CONTENT - START */
.education table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: outset;
    border-radius: 15px;
    width: 85vw;
}
#school{
    color: rgb(95, 143, 181);
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    line-height: 25px;
    text-align: center;
}

/* SCHOOL IMAGES & NAME*/
#victoria{
    width: 420px;
    height: 120px;
}
#eda{
    width: 420px;
    height: 150px;
}

/* EDUCATION CONTENT */
#educontent{
    font-size: 16px;
    line-height: 25px;
}
#educontent tr:nth-of-type(1){
    font-family: 'Prompt', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    line-height: 40px;
}
#educontent tr:nth-of-type(2){
    font-family: 'Prompt', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: 20px;
    line-height: 40px;
}
#educontent tr:nth-of-type(3){
    font-family: 'Prompt', sans-serif;
    text-align: justify;
    text-align-last: center;
    font-size: 18px;
    line-height: 35px;
}
#educontent ul{
    font-family: 'Prompt', sans-serif;
}

/* WORK EXPERIENCE CONTENT */
.workdiv{
    margin-top: 30px;
}
.work{
    text-align: justify;
    width: 100vw;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Prompt', sans-serif;
    font-size: inherit;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.work table {
    display: inline-flex;
    height: auto;
}
.work table tbody{
    width: 500px;
    white-space: normal;
    background-color: white;
    border: outset;
    border-radius: 25px;
    margin: 0 50px 0 20px;
    padding: 20px;
    letter-spacing: 0.75px;
}
/* WORK EXPERIENCE SCROLL BAR */
.work::-webkit-scrollbar {
    width: 10px;
    margin: 0;
}
.work::-webkit-scrollbar-track {
    background: rgb(95, 143, 181);
}
.work::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to left, rgb(63,94,119), whitesmoke);
    border: outset 1px gray;
    border-radius: 10px;
    visibility: hidden;
}
.work:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
/* FONT STYLE FOR WORK EXPERIENCE */
.work table th:nth-of-type(1){
    width: 100vw;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 40px;
}
.work img{
    height: 70px;
    width: 300px;
}
.work #subPlace{
    font-size: 18px;
    font-weight: bold;
}
.work #subPlace, .work #duration {
    text-align: center;
}
#rydges, #devacademy, #sofitel, #grandmercure, #sohobrown{
    text-align-last: center;
}

#grandmercure img {
    width: 50%;
    height: 70%;
}

#devacademy img {
    width: 40%;
    height: 35%;
}

/* ACHIEVEMENT */
.work .achievement tbody{
    margin: 0 35px 0 35px;
    width: 45vw;
}

.work iframe {
    border: 2px gainsboro solid;
    border-radius: 15px;
    width: 100%;
    height: 85vh;
}

/* SKILL CONTENT STYLE */
.skills{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: outset;
    border-radius: 15px;
    width: 85vw;
    padding: 20px;
}
.skillFieldset{
    display: flex;
    width: 45%;
    text-align: left;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border: gray outset 1px;
    border-radius: 15px;
    padding: 0 25px 25px 25px;
    background-color: rgb(240, 240, 240);
}
.skillFieldset:nth-of-type(1){
    margin-left: 3%;
    float: left;
}
.skillFieldset:nth-of-type(3){
    margin-top: 87px;
}
.skillFieldset legend{
    background-color: white;
    text-align: center;
    line-height: 0.5;
    border: gainsboro solid 2px;
    box-shadow: rgb(163, 163, 163) 2px 2px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.skillFieldset legend h3{
    color: rgb(63, 94, 119);
    text-shadow: gainsboro 2px 2px;
    font-style: oblique;
    font-size: 1.75rem;
}
.skillFieldset h4{
    text-transform: capitalize;
    color: black;
    text-shadow: white 1px 1px;
    padding-left: 5px;
    font-style: oblique;
    font-size: 1.25rem;
}
.skillsContainer{
    border: inset 1.5px;
    box-shadow: gray 1px 1px;
    border-radius: 25px;
    width: 100%;
    background-color: rgb(210, 210, 210);
    text-align: left;
    color: ghostwhite;
}
.skill{
    margin: 2px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(63, 94, 119);
}
/* Coding skill */
.html_css{
    width: 90%;
}
.bootstrap{
    width: 85%;
}
.javascript{
    width: 80%;
}
.python{
    width: 50%;
}
.react{
    width: 75%;
}
.redux{
    width: 70%;
}
.nodejs{
    width: 60%;
}
.git{
    width: 70%;
}
.sqlite3{
    width: 50%;
}
/* Design skill */
.photoshop{
    width: 70%;
}
.lightroom{
    width: 60%;
}
.photography{
    width: 80%;
}

/* Other skill */
.customer_service{
    width: 90%;
}
.leadership{
    width: 95%;
}
.teamwork{
    width: 80%;
}
.tenacious{
    width: 90%;
}

/* CONTACT */
.contactDiv{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: outset;
    border-radius: 15px;
    width: 85vw;
    padding: 20px;
}

.contactPart form label{
    font-size: larger;
}

.contactPart {
    width: 50%;
    padding-left: 20px;
}

.mapPart{
    width: 50%;
}

.mapPart iframe{
    margin: 30px 20px 30px 40px;
    width: 90%;
    height: 90%;
    border: inset 1.5px;
    border-radius: 10px;
    box-shadow: gainsboro 2px 2px;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    box-sizing: border-box;
}

.contactDiv button{
    margin: 8px 0;
}



